
<section class="page-intro">
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit ? </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quasi consectetur
    aspernatur consequatur, modi nulla, nesciunt obcaecati nihil cumque labore dolorem temporibus
    beatae. Repellat unde mollitia modi, numquam recusandae dicta.<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quasi consectetur
    aspernatur consequatur, modi nulla, nesciunt obcaecati nihil cumque labore dolorem temporibus
    beatae. Repellat unde mollitia modi, numquam recusandae dicta.</p>
</section>

<hr>

<div class="row">
    <div class="col-md-6 col-xs-12">
        <div id="contact-map"></div>
    </div>
    <div class="col-md-6 col-xs-12">
        <p class="hidden-md-up"></p>
        <address>
            <strong>GAU Restaurant</strong> <br>
            141 Truong Dinh, Hai Ba Trung, Hanoi <br>
            Contact at : 04354533455
        </address>
    </div>
</div>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "contact" %>
<% end %>