<table class="table table-striped table-foods">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr class="food">
        <td><%= food.name %></td>
        <td><%= food.price %></td>
      </tr>
    <% end %>
    <tr>
      <td>Shipping fee</td>
      <td>20000.0</td>
    </tr>
  </tbody>
</table>
