@import "bootstrap";
@import "_pagination";

@mixin max-screen($max) {
  @media only screen and (max-width: $max) {
    @content;
  }
}

.navbar-main {
  margin-bottom: 30px;
}

.navbar-brand {
  @include max-screen(768px) {
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    display: block;
    width: 100%;
  }
}

.nav-item.active > a {
  text-decoration: underline;
}

#contact-map {
  height: 400px;
  width: 100%;
}